@font-face {
  font-family: 'ZenDots';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/zen-dots/zen-dots-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('@/assets/fonts/inter/inter-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/inter/inter-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('@/assets/fonts/inter/inter-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@/assets/fonts/inter/inter-semibold.ttf') format('truetype');
}
